:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);

    /*other styles*/
    /* ..... */
}

h1 {
    color: var(--secondary-color);

    /*other styles*/
    /* ..... */
}

a {
    color: var(--primary-color);

    /*other styles*/
    /* ..... */
}